.appContainer {
  text-align: center;
}

.artItem {
  font-weight: bolder;
  font-size: x-large;
}

button {
  background-color: blueviolet;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  font-size: x-large;
  font-family: monospace;
}

button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
  cursor: pointer;
}
